body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    position: absolute;
    width: 100px;
}

.reboteV {
    position: absolute;
    animation: reboteVertical 1.07s ease-in 0s infinite alternate;

}

.reboteH {
    animation: reboteHorizontal 3.13s cubic-bezier(0.25, 0.25, 0.37, 0.33) 0.005s infinite alternate;
}

@keyframes reboteVertical {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(calc(100vh - 10vmin)) scaleX(0.9) scaleY(1.2);
    }
}

@keyframes reboteHorizontal {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(calc(100vw - 9vmin));
    }
}